p,ul{margin: 0.5em 0;}
#top_bar{
	height: 70px;
	background: rgb(24, 33, 61);
	color: #fff;
	width: 100%;
}
#top_bar .logo{float:left;padding-left: 10px;}
#top_bar .btns{float:right;}
#top_bar .btns a{
	color: #fff;text-decoration: none;
	background: transparent;
	border: 3px solid rgb(103, 103, 180);
	color: #fff;
	margin-left: 20px;
	margin-top: 1em;
	margin-right: 10px;
}

#invite_email{
	padding: 9px 5px;
}

input:focus{
	outline: none;
}

.players{padding: 10px;}
.player{width: 45%}
.player p{text-align: center;}
.player1{margin-right: 9%;}
.player canvas{border:1px solid #ddd;margin: 0 auto;display: block;}

.player .avatar{-webkit-border-radius: 2px;border-radius: 2px;}
